<a href="https://colab.research.google.com/github/ericchu2595/dsmc/blob/master/911EmergencyCalls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Case Study

Congrats! You have been contracted to conduct a brief analysis of a dataset containing ememrgency calls in order to determine the allocation of funds to you local authorities.  This analysis will play a role in deciding changes to the emergency response department.

The data is based in 911 emergency calls and your job is to determine a variety of issues regarding said calls.

1. Using Pandas and Numpy, analyse the data and come up with 5 questions that you would like to answer about the data.

2. the instructor will provide a rnage of questions to answer and you should use your knowledge to complte them as a team.

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot


data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Projects/911/Data/911.csv')

1. What are the 5 most common titles for 911 emergency calls?

2. How many emergency calls did each zip code 19401.0 make?

3. What township made the least 911 emergency calls?

4. How many addresses have "Dead end" in them?

5. How many 911 emergency calls were made in each year?

In [8]:
df.tail()

             lat        lng  ...                            addr  e
99487  40.132869 -75.333515  ...         MARKLEY ST & W LOGAN ST  1
99488  40.006974 -75.289080  ...  LANCASTER AVE & RITTENHOUSE PL  1
99489  40.115429 -75.334679  ...         CHESTNUT ST & WALNUT ST  1
99490  40.186431 -75.192555  ...           WELSH RD & WEBSTER LN  1
99491  40.207055 -75.317952  ...          MORRIS RD & S BROAD ST  1

[5 rows x 9 columns]

In [ ]:
df.describe()

                lat           lng           zip        e
count  99492.000000  99492.000000  86637.000000  99492.0
mean      40.159526    -75.317464  19237.658298      1.0
std        0.094446      0.174826    345.344914      0.0
min       30.333596    -95.595595  17752.000000      1.0
25%       40.100423    -75.392104  19038.000000      1.0
50%       40.145223    -75.304667  19401.000000      1.0
75%       40.229008    -75.212513  19446.000000      1.0
max       41.167156    -74.995041  77316.000000      1.0

In [ ]:
df.head(20)

          lat        lng  ...                                      addr  e
0   40.297876 -75.581294  ...                    REINDEER CT & DEAD END  1
1   40.258061 -75.264680  ...                BRIAR PATH & WHITEMARSH LN  1
2   40.121182 -75.351975  ...                                  HAWS AVE  1
3   40.116153 -75.343513  ...                        AIRY ST & SWEDE ST  1
4   40.251492 -75.603350  ...                  CHERRYWOOD CT & DEAD END  1
5   40.253473 -75.283245  ...                     CANNON AVE & W 9TH ST  1
6   40.182111 -75.127795  ...                  LAUREL AVE & OAKDALE AVE  1
7   40.217286 -75.405182  ...              COLLEGEVILLE RD & LYWISKI RD  1
8   40.289027 -75.399590  ...             MAIN ST & OLD SUMNEYTOWN PIKE  1
9   40.102398 -75.291458  ...  BLUEROUTE  & RAMP I476 NB TO CHEMICAL RD  1
10  40.231990 -75.251891  ...                     RT202 PKWY & KNAPP RD  1
11  40.084161 -75.308386  ...                     BROOK RD & COLWELL LN  1
12  40.174131 -75.098491  ...             BYBERRY AVE & S WARMINSTER RD  1
13  40.062974 -75.135914  ...                   OLD YORK RD & VALLEY RD  1
14  40.097222 -75.376195  ...     SCHUYLKILL EXPY & CROTON RD UNDERPASS  1
15  40.223778 -75.235399  ...                   STUMP RD & WITCHWOOD DR  1
16  40.243258 -75.286552  ...               SUSQUEHANNA AVE & W MAIN ST  1
17  40.312181 -75.574260  ...                   CHARLOTTE ST & MILES RD  1
18  40.114239 -75.338508  ...                         PENN ST & ARCH ST  1
19  40.209337 -75.135266  ...                COUNTY LINE RD & WILLOW DR  1

[20 rows x 9 columns]

Question 1

In [ ]:
df['title'].value_counts().head()

Traffic: VEHICLE ACCIDENT -    23066
Traffic: DISABLED VEHICLE -     7702
Fire: FIRE ALARM                5496
EMS: RESPIRATORY EMERGENCY      5112
EMS: CARDIAC EMERGENCY          5012
Name: title, dtype: int64

Question 2: How many emergency calls did each zip code make?

In [20]:
# df['zip'].dropna().unique() would remove the NaN zip codes if using the unique method

# Since each row is an instance of an emergency call, we merely need to count the number
# of occurrences of each zip code.
zip_code_calls = data['zip'].value_counts().to_dict()

for key,value in zip_code_calls.items():
  print('Zip code', int(key), 'made', value, 'emergency calls between Dec. 2015 and Aug. 2016.')

Zip code 19401 made 6979 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19464 made 6643 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19403 made 4854 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19446 made 4748 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19406 made 3174 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19002 made 3050 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19468 made 2990 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19454 made 2781 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19090 made 2635 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19038 made 2578 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19046 made 2564 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19426 made 2461 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19428 made 2296 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19006 made 2256 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19462 made 2078 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19040 made 2043 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19438 made 1990 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19422 made 1963 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19027 made 1818 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19044 made 1595 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19001 made 1514 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19010 made 1316 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18964 made 1287 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19004 made 1280 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19440 made 1190 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19096 made 1115 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19003 made 1094 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19095 made 1023 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19473 made 1012 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19444 made 1008 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19525 made 965 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19034 made 796 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18073 made 736 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19072 made 728 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18969 made 672 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19012 made 593 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19031 made 566 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19025 made 493 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19035 made 481 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19465 made 458 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19066 made 451 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19041 made 436 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18074 made 435 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19405 made 428 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19460 made 427 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18041 made 414 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19087 made 344 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18054 made 326 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18076 made 306 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19085 made 304 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19075 made 302 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19150 made 288 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19151 made 287 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18936 made 254 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19512 made 220 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18974 made 215 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19131 made 137 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19128 made 122 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18915 made 118 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19453 made 101 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19504 made 101 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19475 made 73 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18914 made 66 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19518 made 57 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18070 made 54 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19118 made 51 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19009 made 49 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18976 made 45 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18966 made 44 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19492 made 40 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19111 made 36 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19435 made 35 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18960 made 34 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19126 made 32 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19505 made 27 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19120 made 26 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19083 made 20 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18092 made 14 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18932 made 11 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18951 made 10 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19477 made 10 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19115 made 8 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19472 made 6 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18056 made 6 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19053 made 6 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19503 made 4 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19116 made 4 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19423 made 4 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18103 made 4 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19082 made 3 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19355 made 2 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18927 made 2 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19129 made 2 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19138 made 2 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 18036 made 2 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 36107 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19490 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19127 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19107 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 77316 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19457 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19139 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 19119 made 1 emergency calls between Dec. 2015 and Aug. 2016.
Zip code 17752 made 1 emergency calls between Dec. 2015 and Aug. 2016.

Question 3:  What township made the least 911 emergency calls?

In [24]:
data['twp'].value_counts().tail(1)

LEHIGH COUNTY    30
Name: twp, dtype: int64

Question 4: How many addresses have "Dead end" in them?

In [18]:
dead_ends = data[data['addr'].str.contains('DEAD END', na=False)]['addr'].count()
print('There are', dead_ends, 'addresses with "DEAD END" in them.')

There are 1390 addresses with "DEAD END" in them.

Question 5:  How many 911 emergency calls were made in each year?

In [17]:
calls_2015 = data[data['timeStamp'].str.contains('2015', na=False)]['timeStamp'].count()
calls_2016 = data[data['timeStamp'].str.contains('2016', na=False)]['timeStamp'].count()

print('There were', calls_2015, 'emergency calls made in 2015.')
print('There were', calls_2016, 'emergency calls made in 2016.')

# Checking that the number matches with the count given by the describe() method
print(calls_2015 + calls_2016, 'were made in total.')

There were 7969 emergency calls made in 2015.
There were 91523 emergency calls made in 2016.
99492 were made in total.