<a href="https://colab.research.google.com/github/ericchu2595/dsmc/blob/master/Faithful_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/faithful.csv')

In [2]:
data.head

<bound method NDFrame.head of      Unnamed: 0  eruptions  waiting
0             1      3.600       79
1             2      1.800       54
2             3      3.333       74
3             4      2.283       62
4             5      4.533       85
..          ...        ...      ...
267         268      4.117       81
268         269      2.150       46
269         270      4.417       90
270         271      1.817       46
271         272      4.467       74

[272 rows x 3 columns]>

In [4]:
data.info() # has 272 stuff

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  272 non-null    int64
 1   eruptions   272 non-null    float64
 2   waiting     272 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 6.5 KB

In [5]:
data.describe

<bound method NDFrame.describe of      Unnamed: 0  eruptions  waiting
0             1      3.600       79
1             2      1.800       54
2             3      3.333       74
3             4      2.283       62
4             5      4.533       85
..          ...        ...      ...
267         268      4.117       81
268         269      2.150       46
269         270      4.417       90
270         271      1.817       46
271         272      4.467       74

[272 rows x 3 columns]>

Questions:

1. What is the dataset about?
Eruptions of geysers. Waiting is how long until the next geyser lifts and eruptions is the amount of seconds.
2. What can we do with it/ what do we want to know?
We can clean up the dataset and get rid of unnamed. we could probably sort them in order of when they are going to erupt.
3. How are we going to do this about this dataset?

In [6]:
data.head(20)

    Unnamed: 0  eruptions  waiting
0            1      3.600       79
1            2      1.800       54
2            3      3.333       74
3            4      2.283       62
4            5      4.533       85
5            6      2.883       55
6            7      4.700       88
7            8      3.600       85
8            9      1.950       51
9           10      4.350       85
10          11      1.833       54
11          12      3.917       84
12          13      4.200       78
13          14      1.750       47
14          15      4.700       83
15          16      2.167       52
16          17      1.750       62
17          18      4.800       84
18          19      1.600       52
19          20      4.250       79

In [7]:
data.drop(data.columns[data.columns.str.contains('unnamed', case = False)], axis = 1, inplace = True)

In [8]:
data.head(20)

    eruptions  waiting
0       3.600       79
1       1.800       54
2       3.333       74
3       2.283       62
4       4.533       85
5       2.883       55
6       4.700       88
7       3.600       85
8       1.950       51
9       4.350       85
10      1.833       54
11      3.917       84
12      4.200       78
13      1.750       47
14      4.700       83
15      2.167       52
16      1.750       62
17      4.800       84
18      1.600       52
19      4.250       79

In [9]:
data.sort_values("waiting", inplace=True)

In [10]:
data.head(20)

     eruptions  waiting
264      1.983       43
126      1.917       45
130      1.867       45
160      2.200       45
205      1.783       46
134      1.833       46
270      1.817       46
187      1.833       46
268      2.150       46
21       1.750       47
105      1.867       47
241      2.350       47
13       1.750       47
88       2.167       48
62       1.750       48
36       1.867       48
212      1.867       49
102      2.100       49
208      1.933       49
170      1.917       49

In [11]:
data.describe()

        eruptions     waiting
count  272.000000  272.000000
mean     3.487783   70.897059
std      1.141371   13.594974
min      1.600000   43.000000
25%      2.162750   58.000000
50%      4.000000   76.000000
75%      4.454250   82.000000
max      5.100000   96.000000

In [12]:
data.count()

eruptions    272
waiting      272
dtype: int64

In [13]:
data.max()

eruptions     5.1
waiting      96.0
dtype: float64

In [14]:
data.min()

eruptions     1.6
waiting      43.0
dtype: float64

In [15]:
data.mean()

eruptions     3.487783
waiting      70.897059
dtype: float64

In [16]:
data.median()

eruptions     4.0
waiting      76.0
dtype: float64

In [17]:
data.describe

<bound method NDFrame.describe of      eruptions  waiting
264      1.983       43
126      1.917       45
130      1.867       45
160      2.200       45
205      1.783       46
..         ...      ...
65       4.400       92
157      4.083       93
169      4.617       93
217      4.800       94
148      5.100       96

[272 rows x 2 columns]>