<a href="https://colab.research.google.com/github/peekachuchu/dsmc/blob/master/python_classroom_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create five variables

In [ ]:
first_name = 'Eric'
firstName = 'Amy'
FirstName = 'Alex'
FIRSTNAME = 'Benjamin'

age = '20'
college = 'Baruch college'
greeting_message = 'hello world!'

In [ ]:
print(first_name)
print(firstName)
print(FirstName)
print(FIRSTNAME)

Eric
Amy
Alex
Benjamin

Create 10 Last Name Variables

In [ ]:
last_name1 = 'Chu'
last_name2 = 'Chung'
last_name3 = 'Ji'
last_name4 = 'Jia'
last_name5 = 'Jiang'
last_name6 = "Cha"
last_name7 = "Chal"
last_name8 = "Chalc"
last_name9 = "Chalco"
last_name10 = "Chalcom"

In [ ]:
print(last_name1)
print(last_name2)
print(last_name3)
print(last_name4)
print(last_name5)
print(last_name6)
print(last_name7)
print(last_name8)
print(last_name9)
print(last_name10)

Chu
Chung
Ji
Jia
Jiang
Cha
Chal
Chalc
Chalco
Chalcom

Data Types

In [ ]:
num = 12.90

In [ ]:
print(first_name)

Eric

In [ ]:
game = True

In [ ]:
type(num)

float

In [ ]:
type(game)

bool

In [ ]:
list = ['name', 'time', 'carrots']

In [ ]:
list

['name', 'time', 'carrots']

In [50]:
import math
math.pi

3.141592653589793

Create 10 Lists, 10 Bool and 10 Floats

In [ ]:
list1 = ['string 1', 'string 2', 'string 3']
list2 = ['string 4', 'string 5', 'string 6']
list3 = ['string 7', 'string 8', 'string 9']
list4 = ['string 10', 'string 11', 'string 12']
list5 = ['string 13', 'string 14', 'string 15']
list6 = ['string 16', 'string 17', 'string 18']
list7 = ['string 19', 'string 20', 'string 21']
list8 = ['string 22', 'string 23', 'string 24']
list9 = ['string 25', 'string 26', 'string 27']
list10 = ['string 28', 'string 29', 'string 30']

In [ ]:
bool1 = True
bool2 = True
bool3 = True
bool4 = True
bool5 = True
bool6 = True
bool7 = True
bool8 = True
bool9 = True
bool10 = True

In [ ]:
float1 = 1.23
float2 = 2.34
float3 = 3.45
float4 = 5.67
float5 = 6.78
float6 = 7.89
float7 = 9.10
float8 = 0.12
float9 = 0.21
float10 = 0.32

Dictionaries

In [55]:
myDict = {'key':'value', 'key2':'value2'} # can have as many pairs as you want

In [54]:
myDict

{'key': 'value', 'key2': 'value2'}

Create:
dict1 = 10 foods
dict2 = 10 peoples names
dict3 = 5 sports players

In [71]:
dict1 = {'food_1': 'apple', 'food_2': 'ice cream', 'food_3':'banana','food_4':'yogurt','food_5':'orange','food_6':'cucumber','food_7':'burger','food_8':'sandwich','food_9':'dumpling','food_10':'wonton'}

In [70]:
dict2 = {'name_1':'eric','name_2':'amy','name_3':'alex','name_4':'edison', 'name_5':'mike', 'name_6':'jose', 'name_7':'amiyah', 'name_8':'andy', 'name_9': 'mindy', 'name_10':'wasam'}

In [69]:
dict3 = {'player1':'lebron james', 'player2':'kobe bryant', 'player3':'michael jordan', 'player4':'michael phelps', 'player5':'michelle kwan'}

In [72]:
dict1

{'food_1': 'apple',
 'food_10': 'wonton',
 'food_2': 'ice cream',
 'food_3': 'banana',
 'food_4': 'yogurt',
 'food_5': 'orange',
 'food_6': 'cucumber',
 'food_7': 'burger',
 'food_8': 'sandwich',
 'food_9': 'dumpling'}

In [73]:
dict2

{'name_1': 'eric',
 'name_10': 'wasam',
 'name_2': 'amy',
 'name_3': 'alex',
 'name_4': 'edison',
 'name_5': 'mike',
 'name_6': 'jose',
 'name_7': 'amiyah',
 'name_8': 'andy',
 'name_9': 'mindy'}

In [74]:
dict3

{'player1': 'lebron james',
 'player2': 'kobe bryant',
 'player3': 'michael jordan',
 'player4': 'michael phelps',
 'player5': 'michelle kwan'}