<a href="https://colab.research.google.com/github/ericchu2595/dsmc/blob/master/python_classroom_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Using List Variables

In [ ]:
movies = ['star wars', 'star trek', 'lord of the rings', 'avengers', 'movie4']
message = 'My favorite movie is ' + movies[0].upper() + '!!!'
print(message)

My favorite movie is STAR WARS!!!

In [ ]:
print(movies[1][3]) # you can index within an index to get the letter. so star trek 3 is r.

r

In [ ]:
print(movies[-1])

avengers

In [ ]:
print(movies[2])

lord of the rings

In [ ]:
print(movies[-2][1])

o

In [ ]:
movies[4] = 'Avatar'

IndexError: ignored

In [ ]:
print(movies)

['star wars', 'star trek', 'lord of the rings', 'avengers']

In [ ]:
movies.insert(2, 'Birdbox')

In [ ]:
print(movies)

['star wars', 'star trek', 'Birdbox', 'lord of the rings', 'avengers']

In [ ]:
movies[1] = 'movie2'

In [ ]:
print(movies)

['star wars', 'movie2', 'Birdbox', 'lord of the rings', 'avengers']

In [ ]:
movies.append('ready player one')

In [ ]:
print(movies)

['star wars', 'movie2', 'Birdbox', 'lord of the rings', 'avengers', 'ready player one']

Conditional Statements:

In [ ]:
age = 20

if age <5:
  print("Admission price is free")
elif age <18:
  print("Admission is $5")
else:
  print("Admission is $10")

Admission is $10

In [ ]:
name = input('Enter your name:')
print(name)

Enter your name:Eric
Eric

In [ ]:
if age < 11:
  print("You're in elementary school!")
elif age < 14:
  print("You're in middle school!")
elif age < 18:
  print("You're in high school!")
else:
  print("You're in college, working, or unemployed.")

You're in college, working, or unemployed.

In [ ]:
age = int(input("What's your age?"))

What's your age?30

Multiple Conditions

In [39]:
toppings = ['chocolate', 'sprinkles']

if 'chocolate' in toppings:
  print('adding chocolate')
if 'sprinkles' in toppings:
  print('adding sprinkles')
if 'peanuts' in toppings:
  print('adding peanuts')

adding chocolate
adding sprinkles

In [42]:
for topping in toppings:
  if topping == 'chocolate': # comparison operator
    print('All out of chocolate!')
  else:
    print('Adding the following topping! ' + topping )

All out of chocolate!
Adding the following topping! sprinkles

In [45]:
toppings = ['strawberry', 'sprinkles']
for topping in toppings:
  if topping != 'chocolate': # comparison operator
    print('All out of chocolate!')
  else:
    print('Adding the following topping! ' + topping )

All out of chocolate!
All out of chocolate!

In [47]:
toppings = ['strawberry', 'sprinkles'] # list of toppings
for topping in toppings:
  if topping == 'chocolate': # comparison operator
    print('All out of chocolate!')
  else:
    print('Adding the following topping! ' + topping ) # repeat until out of toppings

# if topping is choc, print all out of choc. Since its not choc, we go to else and 
# say adding the following topping twice since its a for loop.

Adding the following topping! strawberry
Adding the following topping! sprinkles