<a href="https://colab.research.google.com/github/ericchu2595/dsmc/blob/master/python_classroom_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for x in 'cuny':
  print(x)

c
u
n
y

In [15]:
family = ['family1', 'family2', 'family3', 'family4', 'family5', 'family6', 'family7', 'family8', 'family9', 'family10', 'family11', 'family12','family13','family14','family15','family16','family17','family18','family19','family20']
for name in family:
  print('Hello' , name + '!', 'I hope you are doing well today.')

Hello family1! I hope you are doing well today.
Hello family2! I hope you are doing well today.
Hello family3! I hope you are doing well today.
Hello family4! I hope you are doing well today.
Hello family5! I hope you are doing well today.
Hello family6! I hope you are doing well today.
Hello family7! I hope you are doing well today.
Hello family8! I hope you are doing well today.
Hello family9! I hope you are doing well today.
Hello family10! I hope you are doing well today.
Hello family11! I hope you are doing well today.
Hello family12! I hope you are doing well today.
Hello family13! I hope you are doing well today.
Hello family14! I hope you are doing well today.
Hello family15! I hope you are doing well today.
Hello family16! I hope you are doing well today.
Hello family17! I hope you are doing well today.
Hello family18! I hope you are doing well today.
Hello family19! I hope you are doing well today.
Hello family20! I hope you are doing well today.

In [16]:
for num in range (1,10):
  print(num)

1
2
3
4
5
6
7
8
9

In [17]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
numbers = list(range(0,11, 2))
print(numbers)

[0, 2, 4, 6, 8, 10]

This loop prints numbers that are odd in a range from 1-21.

In [30]:
odd_number = []

for num in list(range(0,22)):
  if num % 2 != 0:
    odd_number.append(num)
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [50]:
# take user input and if the number is either odd or even

num = int(input('Please enter a number'))
if num % 2 == 0:
  print('This number is even!')
else:
  print('This number is odd!')

Please enter a number7
This number is odd!

Prime number any number thats is only divisible by itself

In [61]:
n=int(input('enter a number greater than 1. '))
Match=True

for num in range (2,n):
    n%num
    if n%num==0:
        Match=False
        
if Match:
    print('number is prime.')

else:
    print('number is not prime.')

enter a number greater than 1. 10
number is not prime.

Formatted string literals
[Link Here](https://realpython.com/python-f-strings/#f-strings-a-new-and-improved-way-to-format-strings-in-python)

In [55]:
name = 'eric'
f'Hello, {name}!'

print('hello', name)

hello eric

In [62]:
for num in range(2, 101):
  if all(num%i !=0 for i in range(2, num)):
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Multiple line comments
"""

Make 10 slices for the Family List

In [68]:
family = ['family1', 'family2', 'family3', 'family4', 'family5', 'family6', 'family7', 'family8', 'family9', 'family10', 'family11', 'family12','family13','family14','family15','family16','family17','family18','family19','family20']
print(family[0:3])
print(family[:3])
print(family[3:])
print(family[1:3])
print(family[2:3])
print(family[0:15])
print(family[5:9])
print(family[2:12])
print(family[5:7])
print(family[8:])

['family1', 'family2', 'family3']
['family1', 'family2', 'family3']
['family4', 'family5', 'family6', 'family7', 'family8', 'family9', 'family10', 'family11', 'family12', 'family13', 'family14', 'family15', 'family16', 'family17', 'family18', 'family19', 'family20']
['family2', 'family3']
['family3']
['family1', 'family2', 'family3', 'family4', 'family5', 'family6', 'family7', 'family8', 'family9', 'family10', 'family11', 'family12', 'family13', 'family14', 'family15']
['family6', 'family7', 'family8', 'family9']
['family3', 'family4', 'family5', 'family6', 'family7', 'family8', 'family9', 'family10', 'family11', 'family12']
['family6', 'family7']
['family9', 'family10', 'family11', 'family12', 'family13', 'family14', 'family15', 'family16', 'family17', 'family18', 'family19', 'family20']